#record-player-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
}

#record-player-shell-out,
#record-player-shell-mid,
#record-player-shell-in {
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#record-player-shell-out {
  width: 100%;
  height: 100%;
  border: solid rgba(255, 255, 255, 0.8) 2px;
}

#record-player-shell-mid,
#record-player-shell-in {
  border: solid gray 2px;
  border-left: 0px;
  border-right: none;
  width: 70%;
  height: 70%;
  opacity: 0.5;
}

#record-player-shell-mid {
  transform: rotate(20deg);
}

#record-player-shell-in {
  transform: rotate(120deg);
}
