body {
    /*background-color: #0b0f16;*/
    color: #000000;
    font-family: 'Inter', system-ui, sans-serif;
    margin: 0;
}

header {
    background: transparent;
}

.main-message {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    color: darkblue;
}

.chart-container {
    /*background: #111827;*/
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.chart-title {
    text-align: center;
    font-weight: 600;
    color: black;
    margin-bottom: 0.8rem;
}

.chart-space {
    width: 100%;
    height: 400px;
    /*background: #0e1624;*/
    border-radius: 10px;
    overflow: hidden;

    /* Center child SVG */
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    font-size: 0.9rem;
    color: #9da5be;
    border-top: 1px solid #1f2937;
    margin-top: 2rem;
}